<div class="post-detail">
  <a routerLink="/posts">
    <mat-icon>keyboard_arrow_left</mat-icon> Back to main page</a
  >
  <div *ngIf="currentPost && currentUser">
    <h1>{{ currentPost.title }}</h1>
    <p class="post-detail_name">{{ currentUser.name }}</p>
    <p>{{ currentPost.body }}</p>
    <h2>Comments</h2>
    <mat-card *ngFor="let comment of currentComments">
      <mat-card-header>
        <mat-card-title>{{ comment.name }}</mat-card-title>
        <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ comment.body }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
