.post-list {
  padding: 20px 50px;

  &_button {
    background-color: #278ea8;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
    transition: box-shadow 0.2s, background-color 0.2s;
    box-shadow: 0 10px 20px rgba(39, 142, 168, 0.25);
    &:hover {
      background-color: #1d6b7f;
      box-shadow: 0 10px 20px rgba(39, 142, 168, 0);
    }
  }

  &_comments {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.54);
  }
  &_text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
