/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
  margin: 0 !important;
}

mat-card {
  margin: 20px 0;

  .mat-card-header {
    flex-direction: column !important;
    .mat-card-title {
      text-transform: capitalize;
      color: #aa205a;
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;
  }
}
